* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D0033;
}


/* DIVS */

.header {
    display: flex;
    text-align: center;
    background-color: #0F1B40;
}

.anchors {
    justify-content: space-around;
}

/* IMAGES */

#logotest {
    width: 90px;
    height: 90px;
}
